@()(implicit messages: play.api.i18n.Messages)

@import tags._

@cardHelper(
  cardLinkHref = routes.InterstitialController.displayChildBenefits().url,
  gaAction = "Benefits",
  gaLabel = "Child Benefit",
  tileTitle = Messages("label.child_benefit"),
  tileText = Messages("label.a_tax_free_payment_to_help_parents_with_the_cost_of_bringing_up_children")) {
      <li><a class="ga-track-anchor-click" href="/forms/form/Tell-Child-Benefit-about-your-child-staying-in-non-advanced-education-or-approved-training/guide" data-ga-event-category="link - click" data-ga-event-action="Benefits" data-ga-event-label="Tell us if your child is staying in full-time education">@Messages("label.tell_us_if_your_child_is_staying_in_full_time_education")</a></li>
  }
