@(isCompanyBenefitsRecipient: Boolean = false, displayCardActions: Boolean)(implicit messages: play.api.i18n.Messages)

@import tags._

@card(
  url = Some("/check-income-tax/what-do-you-want-to-do"),
  gaAction = Some("Income"),
  gaLabel = Some("Pay As You Earn (PAYE)"),
  heading = Messages("label.pay_as_you_earn_paye"),
  headingTag = "h3",
  bodyContent = Some(Html("<p>" + Messages("label.your_income_from_employers_and_private_pensions_") + "</p>"))
){
  @if(displayCardActions) {
    <ul>
      <li><a class="ga-track-anchor-click" href="/check-income-tax/income-tax" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="View your Income Tax estimate">@Messages("label.view_your_income_tax_estimate")</a></li>
      <li><a class="ga-track-anchor-click" href="/check-income-tax/last-year-paye" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Check how much tax you paid last year">@Messages("label.check_how_much_tax_you_paid_last_year")</a></li>
      @if(isCompanyBenefitsRecipient) {
      <li><a class="ga-track-anchor-click" href="/check-income-tax/taxable-income" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="View your company benefits">@Messages("label.view_your_company_benefits")</a></li>
      } else {
      <li><a class="ga-track-anchor-click" href="/check-income-tax/tax-codes" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Understand your tax code">@Messages("label.understand_your_tax_code")</a></li>
      }
    </ul>
  }
}
