@(saActionNeeded: SelfAssessmentUserType, taxYear: String)(implicit messages: play.api.i18n.Messages, pertaxContext: PertaxContext)

@import tags._

@cardContent = @{
  saActionNeeded match {
    case ActivatedOnlineFilerSelfAssessmentUser(saUtr) => "<p>" + Messages("label.view_and_manage_your_self_assessment_tax_return_the_deadline_for_online_") + "</p>"
    case NotYetActivatedOnlineFilerSelfAssessmentUser(saUtr) => "<p>" + Messages("label.use_your_activation_code_to_access_this_service_") + "</p>"
    case AmbiguousFilerSelfAssessmentUser(saUtr) => "<p>" + Messages("label.you_cannot_use_this_service_you_may_not_be_enrolled_for_self_assessment_") + "</p>"
    case _ => {""}
  }
}

@cardAction = @{
  saActionNeeded match {
    case ActivatedOnlineFilerSelfAssessmentUser(saUtr) => Html("""<li><a class="ga-track-anchor-click" href="/pay-online/self-assessment/make-a-payment?mode=pta" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Make a payment">""" + Messages("label.make_a_payment") + """</a></li>""")
    case NotYetActivatedOnlineFilerSelfAssessmentUser(saUtr) => Html("""<li><a class="ga-track-anchor-click" href="""" + controllers.routes.ApplicationController.handleSelfAssessment()+ """" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Activate your Self Assessment">""" + Messages("label.activate_your_self_assessment") + """</a></li>""")
    case AmbiguousFilerSelfAssessmentUser(saUtr) => Html("""<li><a class="ga-track-anchor-click" href="""" + controllers.routes.ApplicationController.handleSelfAssessment()+ """" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Find out how to access Self Assessment">""" + Messages("label.find_out_how_to_access_self_assessment") + """</a></li>""")
    case _ => {""}
  }
}

@cardLink = @{
  saActionNeeded match {
    case _:ActivatedOnlineFilerSelfAssessmentUser => controllers.routes.InterstitialController.displaySelfAssessment()
    case _ => controllers.routes.ApplicationController.handleSelfAssessment()
  }
}

@card(
  url = Some(cardLink.url),
  gaAction = Some("Income"),
  gaLabel = Some("Self Assessment"),
  heading = Messages("label.self_assessment"),
  headingTag = "h3",
  bodyContent = Some(Html(cardContent))
){
      <ul>
        @cardAction
      </ul>
  }
