@(saActionNeeded: SelfAssessmentUserType, taxYear: String)(implicit messages: play.api.i18n.Messages, pertaxContext: PertaxContext)

@cardLink = @{
  saActionNeeded match {
    case _:ActivatedOnlineFilerSelfAssessmentUser => controllers.routes.InterstitialController.displaySelfAssessment()
    case _ => controllers.routes.ApplicationController.handleSelfAssessment()
  }
}

<div class="card column-third">
  <a class="card-link ga-track-anchor-click" href="@cardLink" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Self Assessment">
    <div class="card-content" role="link">
      <h3 class="heading-small no-margin-top">@Messages("label.self_assessment")</h3>
      <p>
      @saActionNeeded match {
        case ActivatedOnlineFilerSelfAssessmentUser(saUtr) => {
          @Messages("label.you_need_to_complete_a_tax_return_once_a_year_yours_is_due_by_")
        }
        case NotYetActivatedOnlineFilerSelfAssessmentUser(saUtr) => {
          @Messages("label.use_your_activation_code_to_access_this_service")
        }
        case AmbiguousFilerSelfAssessmentUser(saUtr) => {
          @Messages("label.you_cannot_access_this_service_right_now")
        }
        case _ => {}
      }
      </p>
    </div>
  </a>
  <div class="card-actions">
    <ul>
    @saActionNeeded match {
      case ActivatedOnlineFilerSelfAssessmentUser(saUtr) => {
        <li><a class="ga-track-anchor-click" href="/pay-online/self-assessment/make-a-payment?mode=pta" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Make a payment">@Messages("label.make_a_payment")</a></li>
      }
      case NotYetActivatedOnlineFilerSelfAssessmentUser(saUtr) => {
        <li><a class="ga-track-anchor-click" href="@controllers.routes.ApplicationController.handleSelfAssessment()" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Activate your Self Assessment">@Messages("label.activate_your_self_assessment")</a></li>
      }
      case AmbiguousFilerSelfAssessmentUser(saUtr) => {
        <li><a class="ga-track-anchor-click" href="@controllers.routes.ApplicationController.handleSelfAssessment()" data-ga-event-category="link - click" data-ga-event-action="Income" data-ga-event-label="Access your Self Assessment">@Messages("label.access_your_self_assessment")</a></li>
      }
      case _ => {}
    }
    </ul>
  </div>
</div>
