@()(implicit messages: play.api.i18n.Messages)

@import tags._

@card(
  url = Some("/tax-credits-service/home"),
  gaAction = Some("Benefits"),
  gaLabel = Some("Tax credits"),
  heading = Messages("label.tax_credits"),
  headingTag = "h3",
  bodyContent = Some(Html("<p>" + Messages("label.view_your_next_payments_and_the_people_on_your_claim_and_make_changes_to_your_claim") + "</p>"))
) {
      <ul>
        <li><a class="ga-track-anchor-click" href="/tax-credits-service/home/payment-schedule" data-ga-event-category="link - click" data-ga-event-action="Benefits" data-ga-event-label="View your tax credits payments">@Messages("label.view_your_tax_credits_payments")</a></li>
      </ul>
  }
