@()(implicit messages: play.api.i18n.Messages)

@import tags._

@cardHelper(
  cardLinkHref = "/tax-credits-service/home",
  gaAction = "Benefits",
  gaLabel = "Tax credits",
  tileTitle = Messages("label.tax_credits"),
  tileText = Messages("label.view_your_next_payments_and_the_people_on_your_claim_and_make_changes_to_your_claim")) {
      <li><a class="ga-track-anchor-click" href="/tax-credits-service/home/payment-schedule" data-ga-event-category="link - click" data-ga-event-action="Benefits" data-ga-event-label="View your tax credits payments">@Messages("label.view_your_tax_credits_payments")</a></li>
  }
