@(retryUrl: String, allowContinue: Boolean)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@views.html.iv.ivOutcomeWrapper(Messages("label.were_unable_to_confirm_your_identity"), Messages("label.unable_to_confirm_your_identity")) {
  @if(allowContinue) {
    <p class="margin-bottom">@Html(Messages("label.you_can_try_again_or_continue_to_personal_tax_account_", retryUrl))</p>
    <a href="@controllers.routes.ApplicationController.index" class="button" id="continue" role="button">@Messages("global.label.continue_button")</a>
  } else {
    <p class="margin-bottom">@Html(Messages("label.cant_confirm_identity_and_have_query_contact_HMRC", "https://www.gov.uk/contact-hmrc"))</p>
    <a href="@retryUrl">@Messages("label.try_confirm_identity_again")</a>
  }
}