@()(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@scriptElem = {
<script>
  $(function(){
    ga('send', 'event', 'self-assessment', 'pageLoad', 'User type - not yet activated SA filer');
  });
</script>
}

@main(Messages("label.activate_your_self_assessment"), scriptElement = Some(scriptElem)) {
  <h1 class="heading-large">@Messages("label.activate_your_self_assessment_registration")</h1>
  <p>@Html(Messages("label.you_need_to_activate_your_self_assessment_registration_using_your_", pertaxContext.configDecorator.onlineServicesHelpdeskUrl))</p>
  <a class="button ga-track-event" data-ga-event-category="self-assessment" data-ga-event-action="click" data-ga-event-label="Activate SA registration" href="@pertaxContext.configDecorator.ssoToActivateSaEnrolmentPinUrl" role="button">@Messages("label.activate_your_self_assessment_registration")</a>
}