@(allowContinue: Boolean)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@views.html.iv.ivOutcomeWrapper(Messages("label.youve_tried_to_complete_your_identity_too_many_times"), Messages("label.youve_tried_to_complete_your_identity_too_many_times")) {
  <p class="margin-bottom">@Messages("label.try_again_in_24_hours")</p>
  @if(allowContinue) {
    <p class="margin-bottom">@Messages("label.you_can_continue_to_your_personal_tax_account_")</p>
    <a href="@controllers.routes.ApplicationController.index" class="button" id="continue" role="button">@Messages("global.label.continue_button")</a>
  } else {
    <p class="margin-bottom">@Html(Messages("label.if_you_have_query_contact_HMRC", "https://www.gov.uk/contact-hmrc"))</p>
  }
}
