@()(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@views.html.iv.ivOutcomeWrapper(Messages("label.we_ve_confirmed_your_identity"), Messages("label.we_ve_confirmed_your_identity")) {
  <p class="margin-bottom">@Messages("label.we_can_show_you_more_if_you_complete_2fa")</p>
  <p class="margin-botton">@Messages("label.you_can_still_complete_your_sa")</p>
  <a href="@controllers.routes.ApplicationController.index" class="button" id="continue" role="button">@Messages("global.label.continue_button")</a>
}
