@(retryUrl: String, allowContinue: Boolean)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@if(allowContinue) {
  @views.html.iv.ivOutcomeWrapper(Messages("label.you_need_2_step_verification"), Messages("label.you_need_2_step_verification_to_access_all_parts_of_this_service")) {
    <p class="margin-bottom">@Messages("label.you_can_continue_but_you_will_not_be_able_to_access_")</p>
    <div><a href="@controllers.routes.ApplicationController.index" class="button" id="continue" role="button">@Messages("global.label.continue_button")</a></div>
    <div class="margin-top"><a href="@retryUrl">@Messages("label.back_to_2step_verification")</a></div>
  }
} else {
  @views.html.iv.ivOutcomeWrapper(Messages("label.you_need_2_step_verification"), Messages("label.you_need_2_step_verification_to_use_personal_tax_account")) {
    <p class="margin-bottom">@Messages("label.can_only_access_service_if_have_mobile_phone")</p>
    <p class="margin-bottom">@Html(Messages("label.if_you_have_query_contact_HMRC", "https://www.gov.uk/contact-hmrc"))</p>
    <a href="@retryUrl">@Messages("label.back_to_2step_verification")</a>
  }
}