@import '../../../node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/grid_layout';
@import '../../../node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/colours';
@import '../../../node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/conditionals';

#tax-credits {
  width: 100%;

  >.grid-wrapper {
    >.grid-1-1 {
      >.inner-block {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &.grid-row {
    margin-left: 0;
  }

  .icon--calendar {
    display: none;
  }

  .prompt-content {
    line-height: 30px;
  }

  #next-payments-title {
    padding-top: 20px;
  }

  #your-account-summary {
    padding-top: 10px;
  }

  .prompt-content {
    display: inline-block;
    width: 90%;
  }
}

@include media(tablet) {
  #tax-credits {
    .grid-wrapper {
      margin-left: 0;
      margin-right: 0;
    }

    #wtc-payment {
      margin-bottom: 1em;
    }

    #children-list {
      margin-bottom: 1em;
    }

    .grid-layout {
      margin-left: 0;
    }

    .prompt-content {
      display: inline;
      line-height: 50px;
    }

    .icon--calendar {
      display: inline-block;
    }

  }
}
