@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@media print {
  @page {
    size: portrait;
    margin: 1cm .5cm;
  }
  body.print-page {
    background: #fff;
  }
  body.print-page .print-wrapper {
    margin: 20px auto 0;
    width: 90%;
  }
  body.print-page .print-wrapper .nav {
    display: none;
    visibility: hidden;
  }
  body.print-page .print-wrapper .box {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  body.print-page .print-wrapper .box .column-third {
    float: left;
    width: 33.3%;
  }
  body.print-page .print-wrapper .box .column-two-thirds {
    float: left;
    width: 66.6%;
  }
  body.print-page .print-wrapper .box .column-half {
    float: left;
    width: 50%;
  }
  body.print-page .print-wrapper .box .header .logo {
    float: left;
  }
  body.print-page .print-wrapper .box .header .title {
    float: right;
  }
  body.print-page .print-wrapper .box .header .title h1 {
    font-size: 22px;
    float: right;
    padding-top: 22px;
  }
  body.print-page .print-wrapper .box .addresses .recipient-wrapper {
    margin-top: 50px;
  }
  body.print-page .print-wrapper .box .addresses .sender-wrapper .sender,
  body.print-page .print-wrapper .box .addresses .sender-wrapper .date,
  body.print-page .print-wrapper .box .addresses .sender-wrapper .url {
    margin-left: 60px;
  }
  body.print-page .print-wrapper .box .main-content {
    width: 90%;
  }
  body.print-page .print-wrapper .box .main-content .your-nino .nino {
    color: #0b0c0c;
    display: inline;
    font-size: 20px;
    font-weight: bold;
  }
}
