@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@media print {
  @page {
    size: portrait;
    margin: 1cm .5cm;
  }
  .print-enabled header,
  .print-enabled footer,
  .print-enabled .service-info,
  .print-enabled #secondary-nav,
  .print-enabled #skipto,
  .print-enabled .lang-select,
  .print-enabled .print-page-controls,
  .print-enabled .back-link {
    display: none !important;
    visibility: hidden !important;
  }

  .print-enabled .national-insurance-letter {
    margin: 20px auto 0;
    width: 90%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .print-enabled .national-insurance-letter .nav {
    display: none;
    visibility: hidden;
  }
  .print-enabled .national-insurance-letter .column-third {
    float: left;
    width: 33.3%;
  }
  .print-enabled .national-insurance-letter .column-two-thirds {
    float: left;
    width: 66.6%;
  }
  .print-enabled .national-insurance-letter .column-half {
    float: left;
    width: 50%;
  }
  .print-enabled .national-insurance-letter .print-page-header .logo {
    float: left;
  }
  .print-enabled .national-insurance-letter .print-page-header .title {
    float: right;
  }
  .print-enabled .national-insurance-letter .print-page-header .title h1 {
    font-size: 22px;
    float: right;
    padding-top: 22px;
  }
  .print-enabled .national-insurance-letter .addresses .recipient-wrapper {
    margin-top: 50px;
  }
  .print-enabled .national-insurance-letter .addresses .sender-wrapper .sender,
  .print-enabled .national-insurance-letter .addresses .sender-wrapper .date,
  .print-enabled .national-insurance-letter .addresses .sender-wrapper .url {
    margin-left: 60px;
  }
  .print-enabled .national-insurance-letter .main-content {
    width: 90%;
  }
  .print-enabled .national-insurance-letter .main-content .your-nino .nino {
    color: #0b0c0c;
    display: inline;
    font-size: 20px;
    font-weight: bold;
  }
}
