@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
#tax-credits {
  width: 100%;
}
#tax-credits > .grid-wrapper > .grid-1-1 > .inner-block {
  margin-left: 0;
  margin-right: 0;
}
#tax-credits.grid-row {
  margin-left: 0;
}
#tax-credits .icon--calendar {
  display: none;
}
#tax-credits .prompt-content {
  line-height: 30px;
}
#tax-credits #next-payments-title {
  padding-top: 20px;
}
#tax-credits #your-account-summary {
  padding-top: 10px;
}
#tax-credits .prompt-content {
  display: inline-block;
  width: 90%;
}

@media (min-width: 641px) {
  #tax-credits .grid-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  #tax-credits #wtc-payment {
    margin-bottom: 1em;
  }
  #tax-credits #children-list {
    margin-bottom: 1em;
  }
  #tax-credits .grid-layout {
    margin-left: 0;
  }
  #tax-credits .prompt-content {
    display: inline;
    line-height: 50px;
  }
  #tax-credits .icon--calendar {
    display: inline-block;
  }
}
