<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/pertax-frontend.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_IGNORE_NETTY" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} level=[%level] logger=[%logger] thread=[%thread] rid=[not-available] user=[not-available] message=[%message] %replace(exception=[%xException]){'^exception=\[\]$',''}%n</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/access.log</file>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="CONNECTOR_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/connector.log</file>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>


    <logger name="accesslog" level="WARN" additivity="false">
        <appender-ref ref="ACCESS_LOG_FILE" />
    </logger>

    <logger name="com.ning.http.client.providers.netty" additivity="false">
        <appender-ref ref="STDOUT_IGNORE_NETTY" />
    </logger>

    <logger name="uk.gov" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="application" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="connectors.CitizenDetailsConnector" level="INFO"/>
    <logger name="repositories.EditAddressLockRepository" level="WARN"/>

    <logger name="reactivemongo.api.Driver" level="WARN"/>
    <logger name="reactivemongo.core.actors.MongoDBSystem" level="ERROR"/>
    <logger name="reactivemongo.core.Driver" level="WARN"/>
    <logger name="reactivemongo.core.netty.Pack" level="WARN"/>
    <logger name="play.modules.reactivemongo.DefaultReactiveMongoApi" level="WARN"/>


    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="controllers.auth.SessionAuditor" level="${logger.auth:-INFO}"/>

</configuration>
