<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="uk.gov" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="application" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>


    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="controllers.auth.SessionAuditor" level="${logger.auth:-INFO}"/>

</configuration>
