@(typ: AddrType, proposedStartDate: String)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@main(title = Messages("label.your_address_cannot_be_updated"),
  pageName = Some(Messages("label.your_personal_tax_account")),
  backlinkUrl = Some(controllers.routes.AddressController.enterStartDate(typ).url)
) {

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1  class="heading-xlarge no-margin-bottom">@Messages("label.you_cannot_use_this_service_to_update_your_address")</h1>
    </div>
  </div>

  <div class="grid-row margin-top">
    <div class="column-two-thirds">
      <p class="lede margin-bottom">@Messages("label.the_date_you_entered_is_earlier_than_a_date_previously_held_")</p>

      <p class="margin-top">@Html(Messages("label.if_you_entered_proposedStartDate_by_mistake_",
        controllers.routes.AddressController.enterStartDate(typ).url, proposedStartDate))
      </p>

      <p>@Html(Messages("label.if_you_entered_the_correct_date_contact_HMRC_",
        "https://www.gov.uk/government/organisations/hm-revenue-customs/contact/change-your-personal-details"))
      </p>

    </div>
   </div>
}
