@(residenceStartDateForm: Form[DateDto], typ: AddrType)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import tags._
@import scala.util.Try
@import play.api.i18n.Messages


@main(typ.ifIs(primary = Messages("label.when_did_this_become_your_main_home"), sole = Messages("label.when_did_you_start_living_here"), postal = ""),Some(Messages("label.your_personal_tax_account"))) {
  <div class="personal-details">
    <div class="grid-row">
      <div class="column-whole">
        <div class="page-heading">
          <h1 class="heading-xlarge no-margin-bottom">@typ.ifIs(primary = Messages("label.when_did_this_become_your_main_home"), sole = Messages("label.when_did_you_start_living_here"), postal = "")</h1>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">

        @errorsNew(residenceStartDateForm)

        <div class="grid-row pertax-panel">
          <div class="column-whole">
            <div class="form-start-date">
              <p class="lede">@Messages("label.this_helps_us_work_out_your_correct_rate_of_income_tax")</p>
                @form(controllers.routes.AddressController.processEnterStartDate(typ)) {

                  @dateFieldsFreeInline(
                    residenceStartDateForm,
                    "startDate",
                    '_inputHint -> Messages("label.for_example_31_3_2015")
                  )

                  <details class="margin-top">
                    <summary role="button" aria-controls="details-content" tabindex="0" aria-expanded="false">
                      <span class="summary">@Messages("label.why_do_you_need_to_know_this")</span>
                    </summary>
                    <div class="panel panel-border-narrow" id="details-content" aria-hidden="true">
                      <p>
                        @Html(Messages("label.this_helps_us_work_out_your_correct_rate_of_income_tax_", "https://www.gov.uk/scottish-rate-income-tax/how-it-works"))
                      </p>
                    </div>
                  </details>

                  <button type="submit" class="button" role="button">@Messages("label.continue")</button>
                }
              <p>
                <a href="@controllers.routes.AddressController.showUpdateAddressForm(typ)" class="back-to-account-home">
                  @Messages("label.back")
                </a>
            </p>
          </div>
        </div>
      </div>
    </div>
   </div>

  </div>

}