@(personalDetailsCards: Seq[Html])(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@import tags._
@import uk.gov.hmrc.play.views.formatting.Money.pounds
@import models.PertaxUser
@import models.PertaxUser._
@import pertaxContext.configDecorator._

@main(Messages("label.your_personal_tax_account"),Some(Messages("label.your_personal_tax_account"))) {

  <div class="grid-row">
    <div class="column-whole">

      <div class="page-header personal-details" role="heading">
        <div class="page-info">@Messages("label.personal_details")</div>
        <h1 class="heading-xlarge no-margin-top no-margin-bottom">
          @ifNameAvailable {
            @pertaxContext.user.flatMap(_.name.map(upperCaseToTitleCase))
          }
          @unlessNameAvailable {
            @Messages("label.your_account")
          }
        </h1>
      </div>

    </div>
  </div>

  <div class="grid-row pertax-personal-details">

    <section>
      @personalDetailsCards
    </section>

  </div>

  <div class="grid-row">
    <div class="column-whole">

      <p>
        <a href="@controllers.routes.ApplicationController.index" class="back-to-account-home">
          @Messages("label.back_to_account_home")
        </a>
      </p>

    </div>
  </div>

}
