@(personalDetailsCards: Seq[Html])(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@import models.PertaxUser._

@main(Messages("label.your_personal_tax_account"),Some(Messages("label.your_personal_tax_account"))) {

  <div class="grid-row">
    <div class="column-full">

      <div class="page-header personal-details" role="heading">
        <div class="page-info">@Messages("label.personal_details")</div>
        <h1 class="heading-xlarge no-margin-top no-margin-bottom">
          @ifNameAvailable {
            @pertaxContext.user.flatMap(_.name.map(upperCaseToTitleCase))
          }
          @unlessNameAvailable {
            @Messages("label.your_account")
          }
        </h1>
      </div>

    </div>
  </div>

  <section>
    <div class="grid-row pertax-personal-details">
      <div class="flex-container">
        @personalDetailsCards
      </div>
    </div>
  </section>
}
