@import controllers.auth.requests.UserRequest
@import config.ConfigDecorator
@import uk.gov.hmrc.renderer.TemplateRenderer
@import scala.concurrent.ExecutionContext

@this(mainView: MainView)

@()(implicit request: UserRequest[_], configDecorator: ConfigDecorator, templateRenderer: TemplateRenderer, messages: play.api.i18n.Messages, ec: ExecutionContext)

@mainView(messages("title.check_your_details"), Some(messages("title.check_your_details")), backlinkUrl = Some(controllers.address.routes.PersonalDetailsController.onPageLoad().url)) {


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                @messages("label.address_confirmed")
            </h1>
        </div>
        <p>
            <a href="@controllers.address.routes.PersonalDetailsController.onPageLoad" class="govuk-link">@messages("label.Return_to_your_profile_page")</a>
        </p>
    </div>
</div>

}