@import viewmodels.AddressRowModel
@import controllers.auth.requests.UserRequest
@import config.ConfigDecorator
@import uk.gov.hmrc.renderer.TemplateRenderer
@import viewmodels.PersonalDetailsTableRowModel
@import viewmodels.ExtraLinks
@import scala.concurrent.ExecutionContext
@import views.html.helper.form
@import views.html.helper.CSRF

@this(mainView: MainView)

@(row: Option[PersonalDetailsTableRowModel], addressDetails: AddressRowModel, isMainAddress: Boolean, rlsAddressConfirmDto: Form[dto.RlsAddressConfirmDto])(implicit request: UserRequest[_], configDecorator: ConfigDecorator, templateRenderer: TemplateRenderer, messages: play.api.i18n.Messages, ec: ExecutionContext)

@rowsPresenter(extraLinks: List[ExtraLinks] = Nil) = {
    <div class="govuk-summary-list__row" id="@row.get.id">
        <dt class="govuk-summary-list__key">
        @messages(row.get.titleMessage)
        </dt>
        <dd class="govuk-summary-list__value">
        @row.get.content
        </dd>
        <dd class="govuk-summary-list__actions">
            @if(isMainAddress) {
                <a class="govuk-link" href=@AddressRowModel.changeMainAddressUrl(configDecorator)>
                    @messages("label.change") <span class="visuallyhidden">@messages("label.your_main_home")</span>
                </a>
            } else {
                <a class="govuk-link" href=@AddressRowModel.changePostalAddressUrl>
                    @messages("label.change") <span class="visuallyhidden">@messages("label.your_main_home")</span>
                </a>
            }
        </dd>
    </div>
}


@mainView(messages("title.check_your_details"), Some(messages("title.check_your_details")), backlinkUrl = Some(controllers.address.routes.PersonalDetailsController.onPageLoad().url)) {

    <div class="grid-row">
        <div class="column-two-thirds">

            <header class="page-heading">
                <h1 class="heading-xlarge">
                    @messages("title.check_your_details")
                </h1>
            </header>

            <div class="pertax-personal-details">
                <dl class="govuk-summary-list">

                    @rowsPresenter()

                </dl>
            </div>
        </div>
    </div>

    @form(action = controllers.address.routes.RlsConfirmAddressController.onSubmit()) {
        <div>
            @CSRF.formField
            <input name="isMainAddress" id="@rlsAddressConfirmDto("isMainAddress")" value="@isMainAddress" hidden="hidden" />
            <div class="flex-container grid-row pertax-personal-details">
                <button class="button" data-ga-event-action="Confirm address" data-radio-button-name="confirmAddressSubmit">@messages("label.confirm_address")</button>
            </div>
        </div>
    }
}