@(taxCreditsChoiceForm: Form[dto.TaxCreditsChoiceDto], tcsChangeAddressUrl: String)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@import uk.gov.hmrc.play.views.html.helpers._
@import tags._

@main(title = Messages("label.do_you_get_tax_credits"),
  pageName = Some(Messages("label.your_personal_tax_account")),
  backlinkUrl = Some(controllers.routes.AddressController.personalDetails().url)
) {
  <div class="personal-details">

    @errors(taxCreditsChoiceForm)

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="page-heading">
          <h1 class="heading-xlarge no-margin-bottom">@Messages("label.do_you_get_tax_credits")</h1>
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
            @form(action = controllers.routes.AddressController.processTaxCreditsChoice, 'class -> "send-tcs-ga-event", Symbol{"data-tcs-ga-event-url"} -> tcsChangeAddressUrl) {
              <div class="form-group inline">
                @inputRadioGroup(
                  taxCreditsChoiceForm("value"),
                    Seq(
                      "true" -> Messages("label.yes"),
                      "false" -> Messages("label.no")
                    ),
                    '_labelClass -> "block-label",
                    '_legend -> Messages("label.do_you_get_tax_credits"),
                    '_legendClass -> "visuallyhidden"
                  )
              </div>
              <div class="form-group inline">
                <button type="submit">@Messages("global.label.continue_button")</button>
              </div>
            }
      </div>
    </div>
  </div>
}