@(url: Option[String] = None,
  gaAction: Option[String] = None,
  gaLabel: Option[String] = None,
  heading: String,
  headingTag: String = "h2",
  bodyContent: Option[Html] = None
  )(actionContent: Html)(implicit messages: play.api.i18n.Messages)

<div class="card">

  <div class="card-body @if(url){active}" @if(url){data-journey-click="link - click:@gaAction:@gaLabel"}>

    <@headingTag class="heading-small card-heading">
      @if(url){
        <a class="card-link" href="@url">
          @heading
        </a>
      } else {
        @heading
      }
    </@headingTag>
    @bodyContent
  </div>

@if(actionContent.body.trim.nonEmpty) {
  <div class="card-action">
    @actionContent
  </div>
}

</div>
