@(url: Option[String] = None,
  gaAction: Option[String] = None,
  gaLabel: Option[String] = None,
  heading: String,
  headingTag: String = "h2",
  bodyContent: Option[Html] = None
  )(actionContent: Html)(implicit messages: play.api.i18n.Messages)

<div class="card">

  <div class="card-body @if(url){active}">

    <@headingTag class="heading-small card-heading">
      @if(url){
        <a class="card-link ga-track-anchor-click" href="@url" data-ga-event-category="link - click" data-ga-event-action="@gaAction" data-ga-event-label="@gaLabel">
          @heading
        </a>
      } else {
        @heading
      }
    </@headingTag>
    @bodyContent
  </div>

  <div class="card-action">
    @actionContent
  </div>

</div>
