@(form: Form[_])(implicit messages: play.api.i18n.Messages)

@if(form.hasErrors) {
  <div class="grid-row">
    <div class="column-two-thirds">
      <div id="errors" tabindex="-1" role="group" aria-labelledby="error-heading" class="error-summary">
        <h2 class="heading-medium error-summary-heading">
          @Messages("label.theres_a_problem")
        </h2>

        <ul class="error-summary-list">
          @form.errors.map { error =>
            <li><a href="#@error.key.filter(_.isLetter)">@Messages(s"head.${error.message}")</a></li>
          }
        </ul>
      </div>
    </div>
  </div>
}
