@(saActionNeeded: services.SelfAssessmentActionNeeded)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@import services.{ActivateSelfAssessmentActionNeeded, NoEnrolmentFoundSelfAssessmentActionNeeded, FileReturnSelfAssessmentActionNeeded, NoSelfAssessmentActionNeeded}
@import pertaxContext.configDecorator
@import uk.gov.hmrc.urls.Link

@(saActionNeeded) match {
  case (ActivateSelfAssessmentActionNeeded(_)) => {
    @if(pertaxContext.configDecorator.activateSALinkEnabled) {
      <div class="column-half grid">
        <h3><a href="@controllers.routes.ApplicationController.handleSelfAssessment">@Messages("label.self_assessment")</a></h3>
        <p>@Messages("label.activate_your_self_assessment_using_the_12_")</p>
      </div>
    }
  }
  case (NoEnrolmentFoundSelfAssessmentActionNeeded(_)) => {
    <div class="column-half grid">
      <h3><a href="@controllers.routes.ApplicationController.handleSelfAssessment">@Messages("label.self_assessment")</a></h3>
      <p>@Messages("label.check_your_self_assessment_details")</p>
    </div>
  }
  case (FileReturnSelfAssessmentActionNeeded(_)) => {
    <div class="column-half grid">
      <h3><a href="@controllers.routes.InterstitialController.displaySelfAssessment">@Messages("label.self_assessment")</a></h3>
      <p>@Messages("label.complete_your_tax_return_or_make_a_payment")</p>
    </div>
  }
  case (NoSelfAssessmentActionNeeded) => {}
}

