$govuk-blue: #005ea5;
$red: #d4351c;
$grey-1: #6f777b;
$grey-2: #bfc1c3;
$grey-3: #dee0e2;
$grey-4: #f8f8f8;
$light-blue: #2b8cc4;
$link-colour: $govuk-blue;
$link-active-colour: $light-blue;
$link-hover-colour: $light-blue;
$link-visited-colour: #4c2c92;
$yellow: #ffbf47;
$black: #0b0c0c;
$banner-text-colour: #000;
$white: #fff;
$panel-colour: #dee0e2;
$secondary-text-colour: $grey-1;
$page-colour: $white;
