$govuk-blue: #005ea5;
$grey-1: #6f777b;
$grey-2: #bfc1c3;
$grey-4: #f8f8f8;
$light-blue: #2b8cc4;
$link-colour: $govuk-blue;
$black: #0b0c0c;
$white: #fff;
$panel-colour: #dee0e2;
$secondary-text-colour: $grey-1;
$page-colour: $white;
