@(title: String, header: String, scriptElement: Option[Html] = None)(content: Html)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@import tags._
@import models.PertaxUser
@import models.PertaxUser._

@main(title, Some(Messages("label.your_personal_tax_account")), scriptElement = scriptElement) {

  <div class="page-heading">
    <h1 class="heading-xlarge no-margin-bottom">@header</h1>
  </div>
  <div class="grid-row">
    @content
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="@controllers.routes.ApplicationController.index" class="back-to-account-home"> @Messages("label.back_to_account_home")</a>
    </div>
  </div>
}