//Error page
.pertax-error {
  .page-heading {
    padding-bottom: 0;
  }

  h2 {
    margin-bottom: 20px;
    padding-top: 10px;
  }

  p {
    margin: 5px 0 20px;
  }

  ol {
    margin-bottom: 25px;
  }

  ul {
    margin-bottom: 20px;
  }
}

.form-field--error {
  border-left: 5px solid $red;
  .error-notification {
    font-size: 19px;
    font-weight: 700;
  }

  .form-control {
    border: 4px solid $red;
  }

  .form-control:focus {
    border-color: $black;
  }
}

#errors.validation-summary {
  padding: 20px 15px 15px;
}

.validation-summary {
  border: 5px solid $red;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px 15px 15px;

  li {
    font-size: 19px;
    font-weight: bold;

    a {
      color: $red;
    }
  }
}