//This is to override the content__body class attached to .article wrapper - don't know where that is defined
.content__body {
  width: 100%;
}

//IE7 and IE8 fixes
.lte-ie8 {
  .grid-row {
    margin: 0;
    width: 100%;

    .column-two-thirds,
    .column-half,
    .column-third,
    .column-full {
      float: left;
      padding-left: 0;
      padding-right: 0;
    }

    .column-two-thirds {
      width: 66.66667%;
    }

    .column-half {
      width: 50%;
    }

    .column-third {
      width: 33.3333%;
    }

    .column-full {
      width: 100%;
    }
  }

  .logged-out-page {
    .block-label.horizontal-radio-button {
      margin-right: 1%;
    }
  }

}
