.pertax-panel {
  &#national_insurance {
    padding-top: 30px;
  }

  &.forms-group {
    .column-full {
      padding-bottom: 0;
      padding-top: 0;
    }

    .column-full h2 {
      border-bottom: 2px solid $grey-2;
      font-size: 30px;
      line-height: 1.04167;
      margin: 60px 0 24px;
      padding-bottom: 12px !important;
    }
  }
}

.pertax-panel {
  width: 97%;
}
