.print-this {
  border-bottom: 1px solid $black;
  display: none;
  margin: 0 0 15px 0;
  position: relative;
    
  &__icon {
    left: 0;
    position: absolute;
    top: 2px;
  }

  &__link {
    color: $black;
    font-size: 16px;
    padding-left: 25px;
    text-decoration: none;
  }
}

.print-document {
  border: 1px solid $grey-1;
  box-shadow: 6px 6px 0 0 $grey-3;
  padding: 25px 50px;
  width: 75%;

  .print-header {
    margin-bottom: 15px;

    .column-one-third {
        border-left: #28A197 solid;
        padding-left: 8px;
    }

    h2 {
        font-size: 1.4em;
        font-weight: normal;
        margin: 0;
        line-height: 1;

        span {
            display: block;
        }
    }
  
    h3 {
     text-align: right;
     margin-top: 2em;
     font-size: 1.2em;
     color: #28A197;
     font-weight: 600;
    }
  } 

  .document-address {
    &__recipient {
      margin-top: 50px;
    }
    
    &__sender {
      text-align: left;

      .phone {
        margin-top: 1.05263em;
      }
      .phone-number {
        margin-left: 1em;
      }
      @media (min-width: 641px) {
        .sender-details {
            width: 90%;
            float: right;
        }

          .your-nino {
            width: 60%;
            float: left;
          }
          .your-nino-number {
            width: 40%;
            float: left;
          }
      }
    }
  }


 &__information-box {
       border: 2px solid #28a197;
       display: block;
       margin-bottom: 1em;
       padding: 5px 10px;
       width: 100%;
       background-color: #e1f3f1 !important;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
       box-sizing: border-box;
       -webkit-print-color-adjust: exact;
   }

}

.ni-number-right {
    border-bottom: 2px solid #28a197;

}

.ni-number-right h3 {
    margin-bottom: 0;
}

.you-download-and-use,  .view-more-info-app{
margin-top:15px;

}
.hmrc-app{
 border-bottom: 2px solid #28a197;

 ul {
    margin-bottom: 10px;
 }
}


.ni-letter .column-two-thirds{
width: 62%;

}

.ni-letter .column-one-third {
width: 38%;

}

.got-ni-box {
	background: #e1f3f1;
	padding: 1px 10px;
	font-size: 15px;
	-webkit-print-color-adjust: exact;

}

.got-ni-box, .got-ni-box ul li {
	font-size: 15px;
}


.keep-heading{
text-align:center;
}

.insurance-number-text {
	font-weight: 600;
	font-size: 26px;
	margin-bottom: 5px;
}

.insurance-number{
    font-weight: 600;
    font-size: 36px;
}
.available-information{
font-size: 24px;
}

#view-more-info-chanel {
    margin-bottom: 10px;
}
@media print {
  .printable {
    visibility: hidden;
  }

  .print-document * {
    visibility: visible;
  }

  .print-header .column-two-thirds {
    margin-top: -5em;
  }

  @-moz-document url-prefix(){
      .print-header .column-two-thirds {
        margin-top: 0;
      }
  }

    @page {
        size: auto;
        margin: 0;
    }

  .print-document {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 85%;


    .document-address__recipient {
      float: left;
      width: 59%;
    }

    .document-address__sender {
      float: right;
      width: 41%;

        .your-nino {
          width: 60%;
          float: left;
        }
        .your-nino-number {
          width: 40%;
          float: left;
        }
    }
    .ni-letter .column-two-thirds{
        width: 62%;
        float: left;

    }

    .ni-letter .column-one-third {
     width: 38%;
     float: left;

    }
    p, 
    li {
      font-size: 16px;
    }

    .available-information{
        font-size: 22px;
        margin-bottom: 0;
    }
  }
}

