.print-this {
  border-bottom: 1px solid $black;
  display: none;
  margin: 0 0 15px 0;
  position: relative;
    
  &__icon {
    left: 0;
    position: absolute;
    top: 2px;
  }

  &__link {
    color: $black;
    font-size: 16px;
    padding-left: 25px;
    text-decoration: none;
  }
}

.print-document {
  border: 1px solid $grey-1;
  box-shadow: 6px 6px 0 0 $grey-3;
  padding: 25px 50px;
  width: 75%;

  .print-header {
    margin-bottom: 15px;

    .column-one-third {
        border-left: #28A197 solid;
        padding-left: 8px;
    }

    h2 {
        font-size: 1.4em;
        font-weight: normal;
        margin: 0;
        line-height: 1;

        span {
            display: block;
        }
    }
  
    h3 {
     text-align: right;
     margin-top: 2em;
     font-size: 1.2em;
     color: #28A197;
     font-weight: 600;
    }
  } 

  .document-address {
    &__recipient {
      margin-top: 50px;
    }
    
    &__sender {
      float:right;
      text-align: left;
      width: 90%;

      .phone {
        margin-top: 1.05263em;
      }
      .phone-number {
        margin-left: 1em;
      }
      @media (min-width: 641px) {
          .your-nino {
            width: 60%;
            float: left;
          }
          .your-nino-number {
            width: 40%;
            float: left;
          }
      }
    }
  }


 &__information-box {
    border: 2px solid #28a197;
    display: inline-block;
    margin-bottom: 1em;
    padding: 5px 10px;
    width: 100%;
    background: #e1f3f1;
    text-align:center;
  }
}

.insurance-number-text {
	font-weight: 600;
	font-size: 26px;
	margin-bottom: 5px;
}

.insurance-number{
    font-weight: 600;
    font-size: 36px;
}

@media print {
  .printable {
    visibility: hidden;
  }

  .print-document * {
    visibility: visible;
  }

  .print-document {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 85%;

    &__recipient {
      float: left;
      width: 50%;
    }

    &__sender {
      float: right;
      width: 50%;
    }


    p, 
    li {
      font-size: 16px;
    }
  }
}

