.print-this, .save-this {
  border-bottom: 1px solid #0b0c0c;
  margin: 0 0 15px;
  display: inline-block;

  &__link,
  &__link:visited {
    color: #0b0c0c;
    font-size: 16px;
    text-decoration: none;
  }
}

.save-this {
  margin-left: 1em;
}

.print-this__link, .save-this__link {
     color: #000;
     font-size: 16px;
     padding-bottom: 20px;
     text-decoration: none;
     font-family: "GDS Transport", Arial, sans-serif;
}


@page {
  size: auto;
  margin: 0;
}

.print-document {
  border: 1px solid #6f777b;
  box-shadow: 6px 6px 0 0 #dee0e2;
  padding: 25px 50px;
  width: 75%;

  .print-header {
    margin-bottom: 15px;

    .govuk-grid-column-one-third {
      border-left: #28a197 solid;
      padding-left: 8px;
    }

    h2 {
      font-size: 1.4em;
      font-weight: normal;
      margin: 0;
      line-height: 1;

      span {
        display: block;
      }
    }

    h3 {
      text-align: right;
      margin: 2em 0 0;
      color: #0b0c0c;
      font-weight: 600;
    }

    @media (max-width: 640px) {
      h3 {
        text-align: left;
      }
    }

  }

  .document-address {
    &__recipient {
      margin-top: 25px;
    }

    &__sender {
      text-align: left;
      margin-top: 25px;

      .phone {
        margin-top: 1.05263em;
      }

      .phone-number {
        margin-left: 1em;
      }

      @media (min-width: 641px) {
        .sender-details {
          width: 90%;
          float: right;
        }
      }
    }
  }

  &__information-box {
    border: 2px solid #28a197;
    padding: 5px 10px;
    width: 100%;
    background-color: #e1f3f1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    print-color-adjust: exact;
  }

  #keep-ni-number-safe {
    margin-top: 1.875em;
    text-align: center;
  }
}

.ni-number-right,
.hmrc-app {
  border-bottom: 2px solid #28a197;
}


.you-download-and-use,
.view-more-info-app {
  margin-top: 15px;
}

.hmrc-app ul {
  margin-bottom: 10px;
}

@media (min-width: 641px) {
  .ni-letter .govuk-grid-column-two-thirds {
    width: 62%;
  }

  .ni-letter .govuk-grid-column-one-third {
    width: 38%;
  }
}

.got-ni-box {
  background: #e1f3f1;
  padding: 1px 10px;
  print-color-adjust: exact;

  h3 {
    margin-top: 1.05263em;
    margin-bottom: 0;
  }
}

.got-ni-box,
.got-ni-box ul li {
  font-size: 15px;
}

.insurance-number-text {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 5px;
}

.insurance-number {
  font-weight: 600;
  font-size: 36px;
}

.available-information {
  font-size: 24px;
  margin-bottom: 0;
}

.footer-page-date {
  float: right;
}

.ni-footer-info {
  font-size: 14px;
  margin-top: 5px;
}

.wrap-long-text {
  word-break: break-all;
}

@media print {
  .print-document {
    border: none;
    box-shadow: none;

   .print-header h3 {
     text-align: right;
   }
  }

  .govuk-template__body {
    visibility: hidden;
  }

  p.url,
  p.phone {
    margin-bottom: 5px;
    margin-top: 0;
  }

  .print-document * {
    visibility: visible;
  }

  .print-header .govuk-grid-column-two-thirds {
    margin-top: -4em;
  }

  .print-document {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 90%;

    .document-address__recipient {
      float: left;
      width: 59%;
    }

    .document-address__sender {
      float: right;
      width: 41%;
    }

    .ni-letter .govuk-grid-column-two-thirds {
      width: 62%;
      float: left;
    }

    .ni-letter .govuk-grid-column-one-third {
      width: 38%;
      float: left;
    }

    p,
    li {
      font-size: 16px;
    }

    p.list-paragraph {
      margin-bottom: 5px;
    }

    p.available-information {
      font-size: 24px;
      margin-bottom: 0;
      print-color-adjust: exact;
    }

    #keep-ni-number-safe {
      margin-top: 1em;
    }
  }
}
