@import tags._
@()(implicit messages: play.api.i18n.Messages, messagesApi: play.api.i18n.MessagesApi)

<div class="card column-half">
  <a class="card-link ga-track-anchor-click" href="/protect-your-lifetime-allowance/existing-protections" data-ga-event-category="link - click" data-ga-event-action="Pensions" data-ga-event-label="@gaTrackAnchorEventTranslateLabel("label.lifetime_allowance_protection", "en")">
    <div class="card-content" role="link">
      <h3 class="heading-small no-margin-top">@Messages("label.lifetime_allowance_protection")</h3>
      <p>@Messages("label.your_lifetime_allowance_is_protected_from_additional_tax_charges")</p>
    </div>
  </a>
  <div class="card-actions">
    <ul>
      <li><a class="ga-track-anchor-click" href="/protect-your-lifetime-allowance/existing-protections" data-ga-event-category="link - click" data-ga-event-action="Pensions" data-ga-event-label="@gaTrackAnchorEventTranslateLabel("label.manage_your_protection", "en")">@Messages("label.manage_your_protections")</a></li>
    </ul>
  </div>
</div>