@()(implicit messages: play.api.i18n.Messages)

<div class="card column-half">
  <a class="card-link" href="/protect-your-lifetime-allowance/existing-protections">
    <div class="card-content" role="link">
      <h3 class="heading-small no-margin-top">@Messages("label.lifetime_allowance_protection")</h3>
      <p>@Messages("label.your_lifetime_allowance_is_protected_from_additional_tax_charges")</p>
    </div>
  </a>
  <div class="card-actions">
    <ul>
      <li><a href="/protect-your-lifetime-allowance/existing-protections">@Messages("label.manage_your_protections")</a></li>
    </ul>
  </div>
</div>