@()(implicit messages: play.api.i18n.Messages)

<div class="card column-half">
  <a class="card-link" href="/marriage-allowance-application/history">
    <div class="card-content" role="link">
      <h3 class="heading-small no-margin-top">@Messages("title.marriage_allowance")</h3>
      <p>@Messages("label.transfer_part_of_your_personal_allowance_to_your_partner_")</p>
    </div>
  </a>
  <div class="card-actions">
    <a href="/marriage-allowance-application/history">@Messages("label.find_out_if_you_qualify_for_marriage_allowance")</a>
  </div>
</div>