@(isCompanyBenefitsRecipient: Boolean)(implicit messages: play.api.i18n.Messages)

<div class="card column-half">
  <a class="card-link" href="/check-income-tax/paye">
    <div class="card-content" role="link">
      <h3 class="heading-small no-margin-top">@Messages("label.pay_as_you_earn_paye")</h3>
      <p>@Messages("label.your_income_from_employers_and_private_pensions_")</p>
    </div>
  </a>
  <div class="card-actions">
    <ul>
      <li><a href="/check-income-tax/income-tax">@Messages("label.make_sure_you_are_paying_the_right_amount_of_tax")</a></li>
      <li><a href="/check-income-tax/last-year-paye">@Messages("label.check_how_much_tax_you_paid_last_year")</a></li>
    @if(isCompanyBenefitsRecipient) {
      <li><a href="/check-income-tax/taxable-income">@Messages("label.view_your_company_benefits")</a></li>
    }
    </ul>
  </div>
</div>