@(taxCalculationState: TaxCalculationState)(implicit messages: play.api.i18n.Messages)

@heading = @{
  taxCalculationState match {
    case _:TaxCalculationUnderpaidPaidAllState => Messages("label.you_do_not_owe_any_more_tax")
    case _:TaxCalculationUnderpaidState => Messages("label.you_paid_too_little_tax_last_year")
    case _:TaxCalculationOverpaidState => Messages("label.you_paid_too_much_tax_last_year")
    case _ => ""
  }
}

@contentAndLinks = @{
  taxCalculationState match {
    case TaxCalculationOverpaidRefundState(amount, startOfTaxYear, endOfTaxYear) =>
      (Messages("label.hmrc_owes_you_a_refund_for_the_to_year", amount, startOfTaxYear.toString, endOfTaxYear.toString), List(
        Messages("label.claim_your_tax_refund")
      ))

    case TaxCalculationOverpaidPaymentProcessingState(amount) =>
      (Messages("label.hmrc_is_processing_your_refund", amount), List(
        Messages("label.view_your_tax_refund")
      ))

    case TaxCalculationOverpaidPaymentPaidState(amount, datePaid) =>
      (Messages("label.hmrc_has_paid_your_refund", amount), List(
        Messages("label.view_your_tax_refund")
      ))

    case TaxCalculationOverpaidPaymentChequeSentState(amount, datePaid) =>
      (Messages("label.hmrc_sent_you_a_cheque_for", amount), List(
        Messages("label.view_your_tax_refund")
      ))

    case TaxCalculationUnderpaidPaymentDueState(amount, startOfTaxYear, endOfTaxYear) =>
      (Messages("label.you_owe_hmrc_for_the_to_tax_year", amount, startOfTaxYear.toString, endOfTaxYear.toString), List(
        Messages("label.find_out_why_you_paid_too_little")
      ))

    case TaxCalculationUnderpaidPartPaidState(amount, startOfTaxYear, endOfTaxYear) =>
      (Messages("label.you_owe_hmrc_for_the_to_tax_year", amount, startOfTaxYear.toString, endOfTaxYear.toString), List(
        Messages("label.find_out_why_you_paid_too_little")
      ))

    case TaxCalculationUnderpaidPaidAllState(startOfTaxYear, endOfTaxYear) =>
      (Messages("label.you_have_no_payments_to_make_to_hmrc_for_the_to_tax_year", startOfTaxYear.toString, endOfTaxYear.toString), List(
        Messages("label.view_the_tax_you_paid")
      ))
    case _ => ("", List())
  }
}

<div class="card column-half">
  <a class="card-link" href="/check-income-tax/paye">
    <div class="card-content" role="link">
      <h3 class="heading-small no-margin-top">@heading</h3>
      <p>@contentAndLinks._1</p>
    </div>
  </a>
  <div class="card-actions">
    <ul>
      @contentAndLinks._2.map { label =>
        <li><a href="/check-income-tax/income-tax">@label</a></li>
      }
      <li><a href="/check-income-tax/income-tax">@Messages("label.get_more_information_about_the_tax_you_paid")</a></li>
    </ul>
  </div>
</div>