@()(implicit messages: play.api.i18n.Messages)

<div class="card column-half">
  <a class="card-link" href="/tax-credits-service/home">
    <div class="card-content" role="link">
      <h3 class="heading-small no-margin-top">@Messages("label.tax_credits")</h3>
      <p>@Messages("label.view_your_next_payments_and_the_people_on_your_claim_and_make_changes_to_your_claim")</p>
    </div>
  </a>
  <div class="card-actions">
      <a href="https://www.gov.uk/qualify-tax-credits">@Messages("label.find_out_if_you_qualify_for_tax_credits")</a>
  </div>
</div>