@(f: Form[dto.AmbiguousUserFlowDto])(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@import uk.gov.hmrc.play.views.html.helpers._

@main(title = Messages("label.have_you_ever_done_your_tax_return_by_post"),
pageName = Some(Messages("label.your_personal_tax_account")),
backlinkUrl = Some(controllers.routes.AmbiguousJourneyController.filedReturnOnlineChoice().url)
) {
<div class="personal-details">
    <div class="grid-row">
        <div class="column-full">
            <p class="pre-heading no-margin-bottom lede">@Messages("label.how_to_access_your_self_assessment")</p>
            <h1 class="heading-xlarge no-margin-top">@Messages("label.have_you_ever_done_your_tax_return_by_post")</h1>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            @form(action = controllers.routes.AmbiguousJourneyController.processFiledReturnByPostChoice) {
                <div class="form-group inline">
                    @inputRadioGroup(
                    f("value"),
                    Seq("true" -> Messages("label.yes"), "false" -> Messages("label.no")),
                    '_labelClass -> "block-label",
                    '_legendClass -> "visuallyhidden",
                    '_legend -> Messages("label.have_you_ever_done_your_tax_return_by_post")
                    )
                </div>
                <div class="form-group inline">
                    <button type="submit">@Messages("global.label.continue_button")</button>
                </div>
            }
        </div>
    </div>
</div>
}