.button--payment,
.button--payment:visited {
  background-color: $govuk-blue;
}

.button--payment:hover,
.button--payment:focus {
  background-color: darken( $govuk-blue, 5% );
}

.button--payment:active {
  box-shadow: 0 0 0 $govuk-blue;
  top: 2px;
}
