.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  gap: 1.5em;
}

.card {
  grid-column: span 2;
  border: 1px solid $panel-colour;
  margin-bottom: 1.5em; // fallback for browsers that don't support display: grid
  position: relative;
  display: flex;
  flex-direction: column;
}

@supports(display: grid) {
  .card {
    margin-bottom: 0;
  }
}

.card:has(.card__action) {
  padding-block-end: 0 !important;
}

.card__action {
  background-color: #fff;
  border-top: 1px solid $panel-colour;
  margin-inline: -10px;
  position: relative;
  z-index: 3;
  margin-block-start: auto;
}

.card--active {
  background-color: $grey-4;
}

.card--active:not(.card--news):hover {
    background-color: $govuk-blue;
}

.card--active:not(.card--news):hover *:not(.card__action *) {
    color: #fff !important;
}

.card--active ul {

  li {
    margin: 0 0 1em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.card__link:hover {
  text-decoration: none;
}

.card--active:not(.card--news) a::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 2;
}

.card-heading-news {
  color: $govuk-blue;
  font-size: 16px;
  margin-bottom: 0.625em;
}
