.flex-container {
  display: flexbox;
  display: flex;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 15px;
}
