.card .flextile {
  display: block;
  padding: 12px;
  border-radius: 3px;
  background: #F8F8F8;
  text-decoration: none !important;
  height: 100%;
  transition: all 0.1s ease-in;
	.ft-header {
	  font-size: 18px;
	  font-weight: 600;
	}
	.tile-payments {
  		margin-bottom: 10px;
	}
	.tile-payments span {
	  font-size: 48px;
	  font-weight: bold;
	  margin-top: 45px;
	  text-align: left;
	}
}
.ft-header {
  color: #005EA5;
}


.flextile:hover {
  background: #005EA5;
}

.flextile:hover * {
  color: #fff;
}


.flextile p {
  font-size: 19px;
}

.flextile .lede {
  font-size: 24px;
  margin-bottom:-5px;
}
