$govuk-include-default-font-face: false;
@import "lib/govuk-frontend/dist/govuk/settings/index";

@import "modules/colors";
@import "card";
@import "flexbox";

.pta-home-option {
  background-color: govuk-tint(govuk-colour("light-grey"), 50%);

  > :not(:only-child) {
    margin-bottom: 5px;
  }
}

address {
  font-style: normal;
}

.nino > span {
  margin-right: 5px;
}

.yourProfileExtraLink {
    display: block;
    margin-top: 1em;
}
