@import 'modules/_colors.scss';
@import 'modules/_conditionals.scss';
@import 'card';
@import 'flexbox';
@import 'af-upgrade';
@import 'bta-partial';
@import 'partials/_print-this-document.scss';
@import 'partials/_vertical-spacing.scss';
@import 'partials/_grid.scss';
@import 'partials/_panel.scss';
@import 'partials/_errors.scss';
@import 'partials/_home.scss';

//Global
.grid-row {
  margin: 0 -15px;

  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.page-heading {
  border-bottom: 5px solid $link-colour;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

@media(max-width: 800px) {
  span {
    .nino {
      display: block;
    }
  }
}

.form-group {
  span {
    display: block;
  }
}

address {
  font-style: normal;
}

//Pertax page

.padding-top {
  padding-top: 45px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.margin-top {
  margin-top: 30px;
}

//Personal details page
.personal-details {
  .page-heading {
    margin-bottom: 30px;
  }
}

//Start Page
.start-page {
  .text {
    margin: 30px 0 45px;
    max-width: 100%;
  }

  .button {
    &.button-get-started {
      font-size: 24px;
      margin: 10px 0 0;
      padding: 9px 50px 5px 20px;
    }
  }

  .list-bullet {
    margin: 20px 0 20px 20px;
  }
}

//Summary pages
.summary-page {
  width: 93%;
}

.service-info-p {
  color: $grey-1;
  font-family: nta,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  text-transform: none;
}

.alert-notification {
  background-color: #fef1d5;
  border-left: 4px solid $banner-text-colour;
}

.amounts {
  @include media(desktop) {
    width: 79%;
  }

  p:first-child {
    margin-top: 3px;

    @include media(mobile) {
      margin-top: 15px;
    }
  }
}

.heading-medium {
  font-size: 30px;
}

.nino > span {
  margin-right: 5px;
}

