@import 'modules/_colors.scss';
@import 'modules/_conditionals.scss';
@import 'card';
@import 'flexbox';
@import 'af-upgrade';
@import 'bta-partial';
@import 'partials/_print-this-document.scss';
@import 'partials/_vertical-spacing.scss';
@import 'partials/_grid.scss';
@import 'partials/_panel.scss';
@import 'partials/_errors.scss';
@import 'partials/_home.scss';

//Global
.grid-row {
  margin: 0 -15px;

  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.page-heading {
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 0;
}

@media(max-width: 800px) {
  span {
    .nino {
      display: block;
    }
  }
}

.form-group {
  span {
    display: block;
  }
}

address {
  font-style: normal;
}

//Pertax page

.padding-top {
  padding-top: 45px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.margin-top {
  margin-top: 30px;
}

//Personal details page
.personal-details {
  .page-heading {
    margin-bottom: 30px;
  }
}

//Start Page
.start-page {
  .text {
    margin: 30px 0 45px;
    max-width: 100%;
  }

  .button {
    &.button-get-started {
      font-size: 24px;
      margin: 10px 0 0;
      padding: 9px 50px 5px 20px;
    }
  }

  .list-bullet {
    margin: 20px 0 20px 20px;
  }
}

//Summary pages
.summary-page {
  width: 93%;
}

.service-info-p {
  color: $grey-1;
  font-family: nta,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  text-transform: none;
}

.alert-notification {
  background-color: #fef1d5;
  border-left: 4px solid $banner-text-colour;
}

.amounts {
  @include media(desktop) {
    width: 79%;
  }

  p:first-child {
    margin-top: 3px;

    @include media(mobile) {
      margin-top: 15px;
    }
  }
}

.heading-medium {
  font-size: 30px;
}

.nino > span {
  margin-right: 5px;
}

input[type="text"].autocomplete__input {
  width: 75%;
}

.address-line {
  display: block;
}

.covid-banner {
    border-top: 10px solid #ffe114;
    background-color: #0b0c0c;
    padding: 20px 0;

}

.covid-banner a {
    color: #fff;

   &:focus {
    color: $black;
   }
}

.covid-banner__title {
    font-weight: 700;
    float: left;

    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 50px;
    min-height: 45px;
    background-image: url(../images/covid-icon.png);
    background-image: url(../images/covid-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 37px auto
}

.covid-banner__close {
    font-size: 19px;
    float: right;
    margin-top: 0.5em;
}

@media screen and (max-width:900px) {
    .covid-banner__title, .covid-banner__close {
        float: none;
    }
    .covid-banner__close {
        font-size: 16px;
    }
}


.heading-xlarge {
    margin: 0 0 0.5em 0;
}

.form-group {
    margin-top: 1.8em;
}

.error-message {
    margin-bottom: 15px;
}

.form-date .form-group {
    margin-top: 0;
}

.govuk-box-highlight {
  background-color: #00703c
}

.form-group.form-field--error {
    padding-top: 0;
    padding-bottom: 0;
}

#pertaxHome {
    margin-bottom: 10px;

    + .pertax-home {
        margin-top: 20px;
    }
}

#utrNo {
    margin-bottom: 2em;
    border-left: 8px solid #bfc1c3;
    span {
        font-weight: 700;
    }
}

.banner-panel a:focus, .banner-panel a:visited:focus {
    color: #0b0c0c;
}

.banner-links {
    color: #005ea5;
}
