$govuk-include-default-font-face: false;
@import "modules/colors";
@import "card";
@import "flexbox";
@import "partials/home";
@import "options";

address {
  font-style: normal;
}

.nino > span {
  margin-right: 5px;
}

.yourProfileExtraLink {
    display: block;
    margin-top: 1em;
}
