@(personDetails: models.PersonDetails, show2016Message: Boolean, startDate: Option[String], taxCreditsEnabled: Boolean, hasCorrespondenceAddress: Boolean)(implicit messages: play.api.i18n.Messages)

@import tags._

@updateAddressLink = @{
  if(taxCreditsEnabled) controllers.routes.AddressController.taxCreditsChoice else controllers.routes.AddressController.residencyChoice
}

@cardContent = {
  <p><strong>
    @personDetails.address.map { address =>
      @address.lines.map { line =>
        @upperCaseToTitleCase(line)<br>
      }
    @address.postcode.map(_.toUpperCase)
  }
  </strong></p>
  @startDate.map { startDate =>
    <p>@Messages("label.this_has_been_your_main_home_since_date", startDate)</p>
  }
  @if(show2016Message) {
    <p>@Messages("label.this_has_been_your_main_home_since_at_least_6_april_2016")</p>
  }
}

@card(
  url = Some(updateAddressLink.url),
  gaAction = Some("Main address"),
  gaLabel = Some("Main address"),
  heading = Messages("label.main_address"),
  bodyContent = Some(cardContent)
){
  <ul>
    <li>
      <a class="ga-track-anchor-click" href="@updateAddressLink" data-ga-event-category="link - click" data-ga-event-action="Main address" data-ga-event-label="Change your main address">@Messages("label.change_your_main_address")</a>
    </li>
    @if(!hasCorrespondenceAddress) {
    <li>
      <a class="ga-track-anchor-click" href="@controllers.routes.AddressController.showPostcodeLookupForm(PostalAddrType)" data-ga-event-category="link - click" data-ga-event-action="Main address" data-ga-event-label="Change where we send your letters">@Messages("label.change_where_we_send_your_letters")</a>
    </li>
    }
  </ul>
}
