@import tags._

@(nino: Nino)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@cardContent = {
  <p><strong>@formattedNino(nino)</strong></p>
  <p>@Messages("label.your_national_insurance_number_is_your_unique_identifier")</p>
}

@card(
  url = Some(controllers.routes.InterstitialController.displayNationalInsurance.url),
  gaAction = Some("National Insurance"),
  gaLabel = Some("National Insurance"),
  heading = Messages("label.national_insurance"),
  bodyContent = Some(cardContent)
){
  <ul>
    <li><a class="ga-track-anchor-click" href="@controllers.routes.PrintController.printNationalInsuranceNumber()" data-ga-event-category="link - click" data-ga-event-action="National Insurance" data-ga-event-label="Print your National Insurance letter">@Messages("label.view_your_national_insurance_letter")</a></li>
    <li><a class="ga-track-anchor-click" href="/check-your-state-pension/account/nirecord/pta" data-ga-event-category="link - click" data-ga-event-action="National Insurance" data-ga-event-label="View gaps in your record">@Messages("label.view_gaps_in_your_record")</a></li>
    <li><a class="ga-track-anchor-click" href="/check-your-state-pension/account/pta" data-ga-event-category="link - click" data-ga-event-action="National Insurance" data-ga-event-label="Check your State Pension">@Messages("label.check_your_state_pension")</a></li>
  </ul>
}
