@(title: String,
  pageName:Option[String] = None,
  sidebarLinks: Option[Html] = None,
  sidebarClass: Option[String] = None,
  supportLinkEnabled: Boolean = true,
  headScripts: Option[Html] = None,
  scriptElement: Option[Html] = None,
  bodyClasses: Option[String] = None,
  articleClasses: Option[String] = None,
  includeGridWrapper: Boolean = false,
  additionalGaCalls: Option[Html] = None
)(mainContent: Html)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@import uk.gov.hmrc.play.config.RunMode._
@import uk.gov.hmrc.play.views.html.layouts
@import uk.gov.hmrc.play.views.helpers.AttorneyRegime
@import models.PertaxUser._
@import uk.gov.hmrc.play.binders.ContinueUrl
@import uk.gov.hmrc.play.language.LanguageUtils.Dates._
@import uk.gov.hmrc.urls.Link


@links = @{
  var seq = new scala.collection.mutable.MutableList[Map[String, Any]]()

  ifAuthenticatedUser {
    ifHighGovernmentGatewayOrVerifyUser {
      ifPayeUser {
        seq += Map("url" -> controllers.routes.AddressController.displayAddress().url, "text" -> Messages("label.update_your_address"), "desktopHidden" -> true)
      }
    }
    seq += Map("url" -> pertaxContext.configDecorator.formTrackingServiceUrl, "text" -> Messages("label.track_your_forms"), "desktopHidden" -> true)
    seq += Map("url" -> controllers.routes.ApplicationController.signout(Some(ContinueUrl(pertaxContext.configDecorator.getFeedbackSurveyUrl(pertaxContext.configDecorator.defaultOrigin))), None), "text" -> Messages("global.label.sign_out"))
  }
  seq
}

@afterHeader = {
  @if(pertaxContext.configDecorator.enableRefresh) {
    <meta http-equiv="refresh" content="@pertaxContext.configDecorator.refreshInterval; url=@controllers.routes.PublicController.sessionTimeout()">
  }
}

@actingAttorneyBanner = {
  @{
    for {
      pu <- pertaxContext.user
      principalName <- pu.name
      attorney <- pu.authContext.attorney
    } yield layouts.attorney_banner(Some(principalName), attorney.returnLink.url, AttorneyRegime.pertax)
  }
}

@inlineScript = {

  @scriptElement

  @if(pertaxContext.configDecorator.analyticsToken == Some("N/A")) {
    <script type="text/javascript">
      var ga = function(send, event, category, action, label, args) {
       console.log(JSON.stringify({
         call: 'ga',
         send: send,
         event: event,
         category: category,
         action: action,
         label: label
       }));
     };
    </script>
  }
}

@mainContentHeader = {

  @defining(pertaxContext.breadcrumb.map(_.reverse).getOrElse(Nil)) { breadcrumb =>
    @if(!breadcrumb.isEmpty) {
      <div id="global-breadcrumb" class="header-context">
        <nav>
          <ol class="group">
            @breadcrumb.toList.map { item =>
              <li><a href="@item._2">@Messages(item._1)</a></li>
            }
          </ol>
        </nav>
      </div>
    }
  }

  @if(pertaxContext.welshWarning) {
    @tags.welshContentWarning()
  }

  @Some(pertaxContext.uri).map { url =>
    <div class="lang-select">
      @if(messages.lang == Lang("cy")) {
        @Link.toInternalPage(
          url=controllers.routes.LanguageController.enGb(ContinueUrl(url)).toString(),
          value=Some(Messages("label.english")),
          id=Some("switch-to-english"),
          cssClasses=Some("ga-track-anchor-click"),
          dataAttributes=Some(Map(
            "ga-event-category" -> "link - click",
            "ga-event-action" -> "lang-select",
            "ga-event-label" -> "English"))
          ).toHtml
        | @Messages("label.welsh")
      } else {
        @Messages("label.english") |
        @Link.toInternalPage(
          url=controllers.routes.LanguageController.cyGb(ContinueUrl(url)).toString(),
          value=Some(Messages("label.welsh")),
          id=Some("switch-to-welsh"),
          cssClasses=Some("ga-track-anchor-click"),
          dataAttributes=Some(Map(
            "ga-event-category" -> "link - click",
            "ga-event-action" -> "lang-select",
            "ga-event-label" -> "Cymraeg"))
          ).toHtml
      }
    </div>
  }

}


@{

  val prev = formatEasyReadingTimestamp((for(u <- pertaxContext.user; t <- u.authContext.user.previouslyLoggedInAt) yield t), "")
  val name = for(u <- pertaxContext.user; n <- u.nameOrAttorneyName) yield util.TemplateFunctions.upperCaseToTitleCase(n)

  config.StaticGlobalDependencies.deps.templateRenderer.renderDefaultTemplate(layouts.article(mainContent, includeGridWrapper, articleClasses), Map[String,Any](
    "pageTitle" -> title,
    "linkElems" -> Map(
      "url" -> controllers.routes.AssetsController.at("stylesheets/pertaxMain.css")
    ),
    "scriptElems" -> Seq(
      Map("url" -> controllers.routes.AssetsController.at("javascripts/pertax.js")),
      Map("url" -> controllers.routes.AssetsController.at("javascripts/gaTracking.js")),
      Map("url" -> controllers.routes.AssetsController.at("javascripts/webChat.js"))
    ),
    "inlineScript" -> inlineScript,
    "ssoUrl" -> pertaxContext.configDecorator.ssoUrl,
    "googleAnalytics" -> Map(
      "trackingId" -> {{ if(pertaxContext.configDecorator.analyticsToken==Some("N/A")) null else pertaxContext.configDecorator.analyticsToken }},
      "cookieDomain" -> pertaxContext.configDecorator.analyticsHost,
      "confidenceLevel" -> pertaxContext.user.map(_.confidenceLevel.toString).getOrElse(false),
      "authProvider" -> pertaxContext.authProvider
    ),
    "getHelpForm" -> get_help_form(supportLinkEnabled, includeGridWrapper),
    "mainContentHeader" -> mainContentHeader,
    "removeServiceInfo" -> false,


    "actingAttorneyBanner" -> actingAttorneyBanner,
    "navTitle" -> pageName,
    "navLinks" -> links,
    "hasNavLinks" -> true,

    "betaBanner" -> true,
    "feedbackIdentifier" -> pertaxContext.configDecorator.deskproToken,
    "includeHMRCBranding" -> true,

    "showLastLogInStatus" -> true,
    "previouslyLoggedInAt" -> prev,
    "userDisplayName" -> name
  ))
}
