@()(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@main(Messages("label.there_is_a_problem_logging_you_in"), Some(Messages("label.your_personal_tax_account"))) {

  <div class="grid-row pertax-error">
    <div class="column-two-thirds">
      <header class="page-header">
        <h1>@Messages("label.you_cant_access_your_account_right_now")</h1>
      </header>
      <p class="lede">@Html(Messages("label.we_need_to_speak_to_you_about_an_mci_error_"))</p>

      <h2 class="heading-large">@Messages("label.how_to_contact_us")</h2>

      <ul class="list list-bullet">
        <li>@Messages("label.telephone_0300_200_3300")</li>
        <li>@Messages("label.textphone_0300_200_3319")</li>
        <li>@Messages("label.outside_uk_441355359022")</li>
      </ul>

      <p>@Messages("label.phone_lines_are_open")</p>

      <ul class="list list-bullet">
        <li>@Messages("label.8am_to_8pm_monday_to_friday")</li>
        <li>@Messages("label.8am_to_4pm_saturdays")</li>
        <li>@Messages("label.8am_to_5pm_sundays")</li>
      </ul>

      <p>@Messages("label.closed_bank_holidays")</p>
      <p><a href="https://www.gov.uk/call-charges" target="_blank">@Messages("label.find_out_about_call_charges") @Messages("label.opens_in_a_new_window")</a></p>
    </div>
  </div>

}
