@(openChatScriptPartial: Html)(implicit pertaxContext: PertaxContext, messages: play.api.i18n.Messages)

@main(Messages("label.you_cannot_access_your_self_assessment_"),Some(Messages("label.your_personal_tax_account"))) {

  @openChatScriptPartial

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">@Messages("label.you_cannot_access_your_self_assessment_")</h1>
      <h2>@Messages("label.if_you_send_your_tax_return_online")</h2>
      <p>@Html(Messages("label.you_must_sign_out_then_sign_in_with_the_user_id_",
        controllers.routes.ApplicationController.signout(Some(StrictContinueUrl(pertaxContext.configDecorator.pertaxFrontendHost + controllers.routes.ApplicationController.index().url)), None),
        pertaxContext.configDecorator.notShownSaRecoverYourUserId))</p>
      <h2>@Messages("label.if_you_have_never_sent_your_tax_return_online")</h2>
      <p>@Html(Messages("label.you_have_already_registered_with_hmrc_and_must_now_enrol_for_self_assessment_",
        pertaxContext.configDecorator.ssoToRegisterForSaEnrolment,
        pertaxContext.configDecorator.hmrcProblemsSigningIn))</p>
      <h2>@Messages("label.if_you_send_your_tax_return_by_post")</h2>
      <p>@Html(Messages("label.you_cannot_view_your_self_assessment_information_here_the_deadline_", pertaxContext.configDecorator.ssoToRegistration))</p>
    </div>

    <div class="column-third webchat-container self-assessment">
      <h2 class="heading-small">@Messages("label.webchat_service")</h2>
      <p class="no-margin-top">
        <a class="openChat ga-track-anchor-click" data-ga-event-category="self-assessment" data-ga-event-action="click" data-ga-event-label="Ambiguous SA user - webchat" href="#">@Messages("label.chat_online_with_one_of_our_advisers")</a>
      </p>
    </div>

    <div class="column-two-thirds">
      <a href="@controllers.routes.ApplicationController.index" class="back-to-account-home"> @Messages("label.back_to_account_home")</a>
    </div>
  </div>
}
